@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap');

:root {
    --bgColor : hsl(185, 41%, 84%);
    --strongCyan : hsl(172, 67%, 45%);
    --veryDarkCyan: hsl(183, 100%, 15%);
    --darkGrayishCyan: hsl(186, 14%, 43%);
    --darkGrayishCyan2: hsl(184, 14%, 56%);
    --lightGrayishCyan: hsl(185, 41%, 84%);
    --lightGrayishCyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgColor);
    font-family: "Space Mono";
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.appTitle {
    display: flex;
    flex-direction: column;
    font-weight: 800;
    padding: 1.5rem;
    letter-spacing: 0.5rem;
    color: var(--veryDarkCyan);
}

.container {
    background-color: var(--white);
    width: 100vw;
    height: 100vh;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 2rem;
}

.resultCard {
    background-color: var(--veryDarkCyan);
    height: 30vh;
    padding: 1rem;
    border-radius: 15px;
}